*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    height: 100vh;
}

.container {
    position: relative;
}

.container > img {
    width: 100%;
}

.container > h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: gray;
}

.container-logar {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 300px;
    display: flex;
    justify-content: center;
}

.form {
    width: 30%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(62, 56, 56, 0.331);
}

.form > h1 {
    text-align: center;
    color: white;
}

.form p {
    font-size: 18px;
    color: white;
}

.form > input {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.btn-logar  a  button {
    width: 130px;
    height: 30px;
    border-radius: 15px;
    padding: 3px;
    margin-bottom: 10px;
}

.btn-registre-se a button {
    width: 100px;
    border-radius: 15px;
    height: 30px;
}

button:hover {
    cursor: pointer;
}

@media (max-width:768px) {
    .form {
        width: 50%;
        height: 45%;
    }
}

@media (max-width:425px) {
    .form {
        justify-content: center;
    }
    .btn-logar  a  button {
        width: 80px;
    }

    .btn-registre-se a button {
        width: 80px;
    }
}

@media (max-width:320px) {
    .container h1 {
        font-size: 30px;
    }
    .form {
        width: 70%;
        background-color: rgba(12, 12, 12, 0.901);
    }

    .form h1 {
        font-size: 20px;
    }
    
    .form p {
        font-size: 14px;
    }

}